---
import Layout from "../layouts/Layout.astro";
---

<Layout title="L&M" activePage="home">
  <p class="wedding-date">11. september 2027</p>
  <p class="wedding-date">Opus XVI, Bergen</p>
  <section class="hero">
    <img src="/images/hero.jpg" alt="Lars og Malene" />
  </section>
</Layout>
