---
import Layout from "../layouts/Layout.astro";

const infoItems = [
  {
    icon: "dresscode.svg",
    title: "Kleskode",
    lines: ["Smoking eller mørk dress for herrer og tilsvarende formelt for damer. Nasjonaldrakter er så klart velkommen."],
  },
  {
    icon: "gift.svg",
    title: "Gaver",
    lines: ["Vi ønsker oss først og fremst en hyggelig feiring med våre venner og kjære. Vi forventer ingen gaver utover dette.",
    "Dersom du allikavel ønsker å gi en gave så setter vi pris på bidrag til bryllupsreisen. Vi har òg laget en ønskeliste hos Illums."],
  },
  {
    icon: "rsvp",
    title: "Toastmaster",
    lines: ["Vår toastmaster er Ola Nordmann. Dersom du ønsker å bidra med tale eller underholdning så kan h*n kontaktes på..."],
  },
  {
    icon: "dress",
    title: "Barn",
    lines: ["Dette er et barnefritt arrangement. Vi håper dere har muligheten til å nyte en barnefri kveld."],
  },
  {
    icon: "food",
    lines: ["Lars + Malene"],
  },
  {
    icon: "dress",
    title: "Spørsmål",
    lines: ["Ikke nøl med å ta kontakt med brudeparet eller toastamster dersom du har spørsmål."],
  },
];
---

<Layout title="Informasjon | L&M" activePage="information">
  <section class="info-page">
    <div class="info-container">

      <div class="info-grid">
        {infoItems.map((item) => (
          <article class="info-box">
            <div class="info-icon">
              <img src={item.icon} alt="" />
            </div>

            <h3>{item.title}</h3>

            <div class="info-text">
              {item.lines.map((line) => (
                <p>{line}</p>
              ))}
            </div>
          </article>
        ))}
      </div>
    </div>
  </section>
</Layout>